.team__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    max-width: 1300px;
    justify-items: center;
}

.member__container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.member__img__container {
    width: 100%;
    padding: 30px;
    padding-bottom: 0;
    display: grid;
    place-items: center;
    border-radius: 4px;
    background: #F5F5F5;
}

.member__img {
    height: 280px;
    object-fit: contain;
}

.member__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.member__icons__container {
    display: flex;
    gap: 10px;
}

@media screen and (min-width: 600px) { 
    .team__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) { 
    .team__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
}

@media screen and (min-width: 1500px) { 
    .member__img {
        height: 390px;
    }
}