.home__container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content__container {
  flex-grow: 1;
  box-sizing: border-box;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.content__side__container {
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.content__side__container::-webkit-scrollbar {
  display: none;
}

.content__main__container {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 0 20px;
  gap: 30px;
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  .content__container {
    padding: 50px 0;
    flex-direction: row;
  }

  .content__side__container {
    margin-left: 50px;
    overflow-x: hidden;
    width: auto;
    padding: 0;
  }  

  .content__main__container {
    padding: 0 50px;
  }  
}