.logo__container {
    display: flex;
}

.logo__container > a {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo__img {
    border-radius: 50%;
    object-fit: contain;
    width: 50px;
    height: 50px;
}