.navbar__container {
    display: flex;
    position: relative;
    height: 90px;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    background-color: #FFF;
    border-bottom: 2px solid #EDEFF2;
}  

.navbar__icons__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-right: 30px;
}

.navbar__icon__container {
    display: flex;
    cursor: pointer;
    gap: 10px;
}

.navbar__icon__container > svg {
    font-size: 30px;
    color: #000;
    transition: 0.3s all ease-in-out;
}

.navbar__icon__container > svg:hover {
    color: #DB4444;
}

@media screen and (min-width: 700px) { 
    .navbar__container { 
        padding: 20px 60px;
    }

    .navbar__icons__container { 
        gap: 30px;
        margin-right: 0;
    }
}